
                  {   
                      "titulo": "{{entry['below'][i].title}}",
                      "enlace": "/datosabiertos/portal/primeros-pasos/piensa.html",
                      "seccion": "Aplicaciones",
                      "id": "iconos_aplicaciones_subseccion1",
                      "image": "{{i}}",
                      "textoImage": "{{counter.value < BLOCK}}",
                      "descripcionSeccion": "",
                      "enlaceVerMas": "{{counter.value}}",
                      "descripcion": [
                        {
                          "descripciones": "",
                          "enlace": ""
                        }
                      ]
                  }

